<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                color="primary"
                defaultHref="/tabs-o/home-results"
            ></ion-back-button>
        </ion-buttons>

        <ion-title color="tertiary">Modificar Registro</ion-title>

        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/img/registroupdate.png" />
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-item color="warning">
            <ion-label class="titulo-center"
                ><b>Datos del registro</b></ion-label
            >
        </ion-item>

        <ion-card-content>
            <form>
                <!--
                <ion-item>
                    <ion-label position="floating" class="text-title">
                        <ion-icon name="person" item-start></ion-icon
                        >&nbsp;Nombre
                    </ion-label>
                    <ion-select [(ngModel)]="iduser" name="iduser">
                        <ion-select-option
                            *ngFor="let user of usuarios"
                            [selected]="user._id === conteo.user"
                            [value]="user._id"
                            >{{user.nombre}} {{user.apellidos}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                    -->
                <h3>{{conteo.username}}</h3>
                <ion-item>
                    <ion-label position="floating" class="text-title">
                        <ion-icon name="cash" item-start></ion-icon>&nbsp;Diezmo
                    </ion-label>
                    <ion-input
                        type="number"
                        class="text-field"
                        name="diezmo"
                        [(ngModel)]="diezmo"
                    ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" class="text-title">
                        <ion-icon name="cash" item-start></ion-icon
                        >&nbsp;Ofrenda
                    </ion-label>
                    <ion-input
                        type="number"
                        class="text-field"
                        name="ofrenda"
                        [(ngModel)]="ofrenda"
                    ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" class="text-title">
                        <ion-icon name="cash" item-start></ion-icon
                        >&nbsp;Primicias
                    </ion-label>
                    <ion-input
                        type="number"
                        class="text-field"
                        name="primicia"
                        [(ngModel)]="primicia"
                    ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" class="text-title">
                        <ion-icon name="cash" item-start></ion-icon
                        >&nbsp;Inversion
                    </ion-label>
                    <ion-input
                        type="number"
                        class="text-field"
                        name="inversion"
                        [(ngModel)]="inversion"
                    ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" class="text-title">
                        <ion-icon name="cash" item-start></ion-icon
                        >&nbsp;Cumpleaños
                    </ion-label>
                    <ion-input
                        type="number"
                        class="text-field"
                        name="cumpleanios"
                        [(ngModel)]="cumpleanios"
                    ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" class="text-title">
                        <ion-icon name="cash" item-start></ion-icon
                        >&nbsp;Agradecimiento
                    </ion-label>
                    <ion-input
                        type="number"
                        class="text-field"
                        name="agradecimiento"
                        [(ngModel)]="agradecimiento"
                    ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" class="text-title">
                        <ion-icon name="cash" item-start></ion-icon>&nbsp;Otros
                    </ion-label>
                    <ion-input
                        type="number"
                        class="text-field"
                        name="otro"
                        [(ngModel)]="otro"
                    ></ion-input>
                </ion-item>

                <ion-button
                    expand="full"
                    (click)="updateRegistro()"
                    color="medium"
                >
                    Actualizar
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
