:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    .flotador {
        position: fixed;
        left: 0;
        bottom: 10px;
        right: 0;
        width: 20%;
        height: 10%;
        margin-left: 42%;
    }
}
