.image-user {
    width: 100px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -10px;
}
.titulo-center {
    text-align: center;
}
.text-field{
    font-size: small;
}
.text-title{
    font-size: 0.35cm;
    font-weight: bolder;
}