:host {
    ion-content {
        
            --background: url(https://i.pinimg.com/736x/1e/0b/e9/1e0be997db2a77a1612735c7071f4536.jpg) 0 0/100% 100% no-repeat;
    }
}

.paz {
    position: relative;
    z-index: 10;
}
